/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/*Add 2 custom fonts - fontsquirrel.com*/
@font-face {
  font-family: "AbhayaLibre-Regular";
  src: url("Part3\Fonts\AbhayaLibre-Regular.ttf") format(ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "abel-regular";
  src: url("Part3\Fonts\abel-regular.ttf") format(ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: "AbhayaLibre-Regular", serif;
}

header{
  font-family: "abel-regular", sans-serif;
  text-align: center;
}
/*Give all element types appropiate font-sizes using a suitable relative unit*/
header,
section, 
aside,
nav,
footer{
  font-size: 1.5em;
  line-height: 1.6;
}
h2{
  font-family: "abel-regular", sans-serif;
  letter-spacing: 1px;
}
body{
  letter-spacing: 1px;
  word-spacing: 1px;
}

/*Give the first paragraph after each heading in the <section> a little bit of text-indentation*/

section h2 + p {
  text-indent: 20px;
}
/*Links*/

a {
  color: #a96161;
/* Remove the default focus outline */
  outline: none;
}

a:visited {
  color: #6a6767;
}

a:focus {
  color: #bd0c0c;
}

a:hover {
  color: #e05b5b;
  text-decoration: none;
}

a:active {
  color: #935757;
  text-shadow: 1px 1px 1px #d59898;
}

a[href^="http"] {
  background: url("external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
}